/* nav style */

body{
   margin:20px 200px;
   width: 1200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800;
    font-size: 30px;
}

.nav-button{
    padding: 5px 12px;
    border-radius: 5px;
}

 
.img-size{
    width: 240px;
    height: 240px;
    padding: 26px 599px 0px 500px;
}
.text-align{
    text-align: center;
}
.banner-button{
    margin-left: 560px;
    padding: 10px 14px;
    background-color: black;
    color: white;
    font-weight: 800px;
    border-radius: 10px;
} 
.banner-bg{
    background-image:url('/assets/Hero-bg.png');
    height: 550px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.second-section{
  margin-top: 150px;
}

.second-description{
 text-align: left;
 
}
.text-style{
    font-size: 28px;
    font-weight: 900px;
}

.third-section{
  margin: 100px 100px;
}

.display-flex{
    display: flex;
    justify-content: space-around;
}

.icon-size{
    height: 50px;
    width: 50px;
}

.marzin-four{
 margin-top: 80px;
}
